*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial' sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


.row{
    /*Responsive size  attributes elements: If de viewport is smaller than element defined with max-with the element is resized in the view port*/
    max-width: 1140px;
    margin: 0 auto;
}

/*********************Begin- Header and navigation site*****************************************/
header{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/vendors/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



/*For header in the images we need an style if reading is better soon
we chance de font size, font wheight text trasnform  and the space of the
letters and works. THIS IS A PATTERN OF THE WEB DESIGN*/
h1{
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2.4em; 
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*Links States*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    margin-right: 5px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e22;
    color: #fff;
    transition: background-color 0.5s,border 0.5s, color 0.5s;
    
}

/*FlatUI Colors*/
.btn-full:link,
.btn-full:visited{  
    background-color: #e67e22;   
}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
    
}


.btn:hover,
.btn:active{
    background-color: #cf6d17;
}




.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;

}



.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}


/*********************End - Header and navigation site*****************************************/
